# Environment & secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Database
*.db
*.sqlite3

# Redis (local only)
redis/
redis.zip
dump.rdb

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Virtual env
venv/
.venv/
env/
